<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login"
      aria-selected="true">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sign-up-tab" data-toggle="tab" href="#sign-up" role="tab" aria-controls="sign-up"
      aria-selected="false">Sign-Up</a>
  </li>
</ul>

<div class="tab-content p-2" id="myTabContent">
  <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
    <div class="col-md-6">
      <h2>Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="tab-pane fade" id="sign-up" role="tabpanel" aria-labelledby="sign-up-tab">
    <div class="col-md-6">
      <h2>Signup</h2>

      <form class="form signup-form">
        <div class="form-group">
          <label for="first-name-signup">First Name:</label>
          <input class="form-input" type="text" id="first-name-signup" />
        </div>
        <div class="form-group">
          <label for="last-name-signup">Last Name:</label>
          <input class="form-input" type="text" id="last-name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="./js/login.js"></script>