<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Update your information:</h3>

    <form class="form user-update-form">
      <div class="form-group">
        <label for="user-first-name">First Name:</label>
        <input class="form-input" type="text" id="user-first-name" name="user-first-name" />
      </div>
      <div class="form-group">
        <label for="user-last-name">Last Name:</label>
        <input class="form-input" type="text" id="user-last-name" name="user-last-name" />
      </div>
  <div class="form-group">
        <label for="user-email">Email:</label>
        <input class="form-input" type="text" id="user-email" name="user-email" />
      </div>
      {{!-- <div class="form-group">
        <label for="user-password">Password:</label>
        <input class="form-input" type="text" id="user-password" name="user-password" />
      </div> --}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div> 

<script src="./js/profile.js"></script>
